<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アイテム編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>アイテム編集</h1>

    <!-- アイテム名編集 -->
    <label for="item_name">アイテム名:</label>
    <input type="text" id="item_name" name="item_name" value="りんご"><br><br>

    <!-- ジャンル編集 -->
    <label for="genre">ジャンル:</label>
    <select id="genre" name="genre">
        <option value="食品" selected>食品</option>
        <option value="衣類">衣類</option>
        <option value="備品">備品</option>
    </select>
    <input type="text" placeholder="新ジャンルを追加" name="new_genre"><br><br>

    <!-- 在庫数編集 -->
    <label for="stock">在庫数:</label>
    <input type="number" id="stock" name="stock" value="13"><br><br>

    <!-- 画像変更 -->
    <label for="image">画像変更:</label>
    <input type="file" id="image" name="image"><br><br>

    <!-- 更新・戻るボタン -->
    <button type="submit">更新</button>
    <a href="/stock">戻る</a>
</body>

</html>