<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入庫ページ</title>
</head>

<body>
    <!-- <form method="get" action="/in">
        <input type="text" name="search">
        <button type="submit">検索</button>
    </form>
    <p>アイテム検索</p>
    <p>ジャンル</p>
    <a href="/in?genre=食品">食品</a>
    <a href="/in?genre=衣類">衣類</a>
    <a href="/in?genre=備品">備品</a>
    <p>アイテム一覧</p> -->
    <table>
        <tr>
            <th>アイテム名</th>
            <th>現在の在庫</th>
            <th>入庫数</th>
            <th>操作</th>
        </tr>
        {% for item,stock in items %}
        <tr>
            <form method="post">
                <td>{{item.name}}</td>
                <td>{{stock.quantity}}</td>
                <td><input type="number" name="quantity" min="1" required></td>
                <td>
                    <a href="{{ url_for('stock_in_item', item_id=item.id) }}">入庫ページ</a>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <a href="/">もどる</a>
</body>

</html>