<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>出庫ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h2>出庫</h2>

    <table border="1">
        <tr>
            <th>アイテム名</th>
            <th>現在の在庫</th>
            <th>出庫数</th>
            <th>操作</th>
        </tr>

        {% for item, stock in items %}
        <tr>
            <form method="post">
                <td>{{ item.name }}</td>
                <td>{{ stock.quantity }}</td>
                <td>
                    <input type="number" name="quantity" min="1" required>
                </td>
                <td>
                    <!-- item_id を送る hidden -->
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit">出庫する</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>

    <a href="/">もどる</a>
</body>

</html>